* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0; 
    background-color: #444;
}

.age-form {
    margin: 100px auto;
    padding: 30px;
    width: 80;
    background-color: #ddd;
    border: 10px solid #005a9c;
    border-radius: 5px;
}

.denied {
    color: red;
}

.granted {
    color: limegreen;
}